{% extends "book/base.html" %}
{% load staticfiles %}
{% block title %}借书清单{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                    <!--<div class="col-md-4 col-md-offset-8">-->
                        <!--<form role="form" method="post" name="search_form">-->
                            <!--{% csrf_token %}-->
                            <!--<input type="search" class="form-control" name="keyword"-->
                                   <!--placeholder="键入图书名称搜索" id="id_search_input" onkeyup="key_up()"-->
                                   <!--autofocus>-->
                        <!--</form>-->
                    <!--</div>-->

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>读者名称</th>
                            <th>图书编号</th>
                            <th>图书名称</th>
                            <th>借书时间</th>
                            <th>借书数量</th>
                            {% if not requset.session.permission %}
                            <th>还书操作</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in borrow_book_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td></td>
                                <td>{{ book.bookid }}</td>
                                <td></td>
                                <td>{{ book.borrowdate }}</td>
                                <td>{{ book.borrownum }}</td>
                                {% if not requset.session.permission %}
                                <td><a class="btn primary-btn">还书</a></td>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td>未借图书</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pager">
                            {% if borrow_book_list.has_previous %}
                                <li class="previous"><a
                                        href="?typ={{ query_category }}&page={{ borrow_book_list.previous_page_number }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                            第 {{ borrow_book_list.number }} / {{ borrow_book_list.paginator.num_pages }}页
                            {% if borrow_book_list.has_next %}
                                <li class="next">
                                    <a href="?typ={{ query_category }}&page={{ borrow_book_list.next_page_number }}">下一页</a>
                                </li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>

            </div>
        </div>
    </div>

    <script type="text/javascript">
                        function key_up() {
                            var old_value = $('#id_search_input').val();
                            setTimeout(function () {
                                var new_value = $('#id_search_input').val();
                                if (old_value == new_value) {
                                    document.search_form.submit();
                                }
                            }, 1500);
                        }
                    </script>

    <script type="text/javascript">
        $('#id_category_{{ query_category }}').addClass("active");
    </script>


{% endblock %}
