{% extends "book/base.html" %}
{% load staticfiles %}
{% block title %}删除图书{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>图书编号</th>
                            <th>图书名称</th>
                            <th>图书作者</th>
                            <th>图书出版社</th>
                            <th>图书数量</th>
                            <th>图书分类</th>
                            <th>图书入库时间</th>
                            <th>图书出版时间</th>
                            <th>删除操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in book_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ book.bookid }}</td>
                                <td>{{ book.bookname }}</td>
                                <td>{{ book.bookauthor }}</td>
                                <td>{{ book.bookpress }}</td>
                                <td>{{ book.booknum }}</td>
                                <td>{{ book.booksort }}</td>
                                <td>{{ book.bookrecore }}</td>
                                <td>{{ book.bookpublishdate }}</td>
                                <td><a class="btn btn-block btn-danger" href="?bookid={{ book.bookid }}">删除</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>无图书</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <!--<nav>-->
                        <!--<ul class="pager">-->
                            <!--{% if book_list.has_previous %}-->
                                <!--<li class="previous"><a-->
                                        <!--href="?typ={{ query_category }}&page={{ book_list.previous_page_number }}">上一页</a>-->
                                <!--</li>-->
                            <!--{% else %}-->
                                <!--<li class="previous disabled"><a href="#">上一页</a></li>-->
                            <!--{% endif %}-->
                            <!--第 {{ book_list.number }} / {{ book_list.paginator.num_pages }}页-->
                            <!--{% if book_list.has_next %}-->
                                <!--<li class="next">-->
                                    <!--<a href="?typ={{ query_category }}&page={{ book_list.next_page_number }}">下一页</a>-->
                                <!--</li>-->
                            <!--{% else %}-->
                                <!--<li class="next disabled"><a href="#">下一页</a></li>-->
                            <!--{% endif %}-->
                        <!--</ul>-->
                    <!--</nav>-->

            </div>
        </div>
    </div>

    <script type="text/javascript">
                        function key_up() {
                            var old_value = $('#id_search_input').val();
                            setTimeout(function () {
                                var new_value = $('#id_search_input').val();
                                if (old_value == new_value) {
                                    document.search_form.submit();
                                }
                            }, 1500);
                        }
                    </script>

    <script type="text/javascript">
        $('#id_category_{{ query_category }}').addClass("active");
    </script>


{% endblock %}
